<?xml version="1.0"?>
<config>
    <modules>
        <Lesti_Weather>
            <version>0.1.0</version>
        </Lesti_Weather>
    </modules>
    <global>
        <blocks>
            <weather>
                <class>Lesti_Weather_Block</class>
            </weather>
        </blocks>
        <helpers>
            <weather>
                <class>Lesti_Weather_Helper</class>
            </weather>
        </helpers>
        <models>
            <weather>
                <class>Lesti_Weather_Model</class>
            </weather>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <weather>
                    <file>weather.xml</file>
                </weather>
            </updates>
        </layout>
        <translate>
            <modules>
                <Lesti_Weather>
                    <files>
                        <default>Lesti_Weather.csv</default>
                    </files>
                </Lesti_Weather>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Lesti_Weather>
                    <files>
                        <default>Lesti_Weather.csv</default>
                    </files>
                </Lesti_Weather>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <general>
            <weather>
                <lat><![CDATA[52.550024]]></lat>
                <lon><![CDATA[13.361027]]></lon>
                <temp_unit><![CDATA[C]]></temp_unit>
                <speed_unit><![CDATA[kmh]]></speed_unit>
            </weather>
        </general>
    </default>
</config>